.session {
    /* color: aliceblue; */
}

/* .sessionList {
    margin-top: 30px;
    margin-right: 30px;
    background-color: aliceblue;
} */

.session {
align-content: center;
    margin: 15px 30px 15px 15px;
width: 40px;
/* padding-right: 5px; */
background-color: aliceblue;
}